@model Przychodnia.Data.Entities.Uzytkownik

@{
    ViewData["Title"] = "Użytkownik";
}

<!--<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Rola
        </dt>
        <dd class="col-sm-10">
            @ViewBag.Rola?.Nazwa
        </dd>
        <dt class="col-sm-2">
            Poradnia
        </dt>
        <dd class="col-sm-10">
            @ViewBag.Poradnia?.Nazwa
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Imie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Imie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nazwisko)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nazwisko)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Haslo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Haslo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pesel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pesel)
        </dd>
    </dl>

    <form asp-action="Delete" class="mt-5 pt-5">
        <a asp-action="Index"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M19 12H6M12 5l-7 7 7 7" /></svg></a>-->
        @*<input type="hidden" asp-for="RolaId" />*@
        <!--<input type="submit" value="Usuń" class="btn btn-danger ml-5" />
    </form>
</div>-->

    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Czy chcesz usunąć?</h6>
                </div>
                <div class="card-body">
                    <form asp-action="Delete">
                        <a asp-action="Index"></a>
                        <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
                        <button type="submit" class="btn btn-primary" title="Tak">
                            <i class="fas fa-check"></i>
                        </button> <span></span>
                        <a class="btn btn-primary" href='javascript:history.go(-1)' title="Anuluj"><i class="fas fa-ban"></i> <span></span></a>
                    </form>
                </div>
            </div>
        </div>
    </div>
