@model IEnumerable<Przychodnia.Data.Entities.Specjalizacja>

@{
    ViewData["Title"] = "Specjalizacje";
}
<style>
.fa, .fas {
    pointer-events: none;
}
</style>
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800"></h1>
        <a asp-action="Create" title="Dodaj" class="d-sm-inline-block btn btn-primary shadow-sm">
            Dodaj
        </a>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header py-3 align-items-center justify-content-between ">
            <h6 class="m-0 font-weight-bold text-primary d-inline-block"> Specjalizacje </h6>

        </div>
        <div class="card-body">
            <div class="table-responsive">

                <table class="table table-bordered sm-" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th id="title" class="col-9 col-md-8 col-lg-9 col-xl-8">
                                @Html.ActionLink("Nazwa", "Index", new { sortOrder = ViewBag.NameSortParm })
                            </th>
                            <th id="title" class="col-1 col-md-1 col-lg-1 col-xl-1">
                                Aktywna
                            </th>
                            <th class="text-center th-action col-2 col-md-3 col-lg-2 col-xl-1"> Akcja</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="widthName">
                                    @Html.DisplayFor(modelItem => item.Nazwa)
                                </td>
                                <td class="widthName">
                                    @Html.DisplayFor(modelItem => item.Aktywna)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-circle btn-sm" title="Edytuj"><i class="fas fa-pencil-alt"> </i> </a>
                                     <a data-dt=" @item.Id" data-controller="Specjalizacja" data-action="Dezaktywuj" data-body-message="Czy jesteś pewien?" class="btn btn-danger btn-circle btn-sm delete" title="Dezaktywuj"><i class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-sm-12 col-md-12 ">
                <div class="dataTables_paginate paging_simple_numbers block" id="dataTable_paginate">
                    <ul class="pagination float-lg-right py-3">
                        @{
                            double totalPages = ViewBag.TotalPages;
                            string classes = "paginate_button page-item";
                            for (var i = 1; i <= totalPages; i++)
                            {
                                @if (i == ViewBag.PageNumber)
                                {
                                    <li class="active @classes">
                                        @Html.ActionLink(i.ToString(), "Index", new { PageNumber = i }, new { @class = "page-link" })
                                    </li>
                                }
                                else
                                {
                                    <li class="@classes">
                                        @Html.ActionLink(i.ToString(), "Index", new { PageNumber = i }, new { @class = "page-link" })
                                    </li>
                                }
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
<script>
    document.addEventListener('DOMContentLoaded',
        (doc) => {
            var title = document.getElementById("title");
            if ('@ViewBag.NameSortParm' == 'name') {
                var element = document.createElement("i");
                element.className = "fas fa-arrow-down";
                title.append(element);
            } else {
                var element = document.createElement("i");
                element.className = "fas fa-arrow-up";
                title.append(element);
            }
        });
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="~/bootstrap/js/bootstrap.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    $((function () {
        var url;
        var redirectUrl;
        var target;

        $('body').append(`
                    <div class="modal" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="myModalLabel">Uwaga!</h4>
                                </div>
                            <div class="modal-body delete-modal-body">
                                Czy jesteś pewien?
                            </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-bs-dismiss="modal" id="cancel-delete">Anuluj</button>
                                    <button type="button" class="btn btn-danger" id="confirm-delete">Dezaktywuj</button>
                                </div>
                            </div>
                        </div>
                    </div>`);

        //Delete Action
        $(".delete").on('click', (e) => {
            e.preventDefault();

            target = e.target;
            var Id = $(target).data('dt');
            var controller = $(target).data('controller');
            var action = $(target).data('action');
            var bodyMessage = $(target).data('body-message');
            redirectUrl = $(target).data('redirect-url');

            url = "/" + controller + "/" + action + "?Id=" + Id;
            $(".delete-modal-body").text(bodyMessage);
            $("#deleteModal").modal('show');
        });

        $("#confirm-delete").on('click', () => {
            $.get(url)
                .done((result) => {
                    if (!redirectUrl) {
                        return $(target).parent().parent().hide("slow");
                    }
                    window.location.href = redirectUrl;
                })
                .fail((error) => {
                    if (redirectUrl)
                        window.location.href = redirectUrl;
                }).always(() => {
                    $("#deleteModal").modal('hide');
                    window.location.reload();
                });
        });
    }()));
</script>