@model IEnumerable<Przychodnia.Data.Entities.StronaOnas>

@{
    ViewData["Title"] = "Strona o Nas";
}
<style>
.fa, .fas {
    pointer-events: none;
}
</style>
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800"></h1>
        <a asp-action="Create" title="Dodaj" class="d-sm-inline-block btn btn-primary shadow-sm">
            Dodaj
        </a>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header py-3 align-items-center justify-content-between ">
            <h6 class="m-0 font-weight-bold text-primary d-inline-block"> O nas </h6>

        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered sm-" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Tytul)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Tresc)
                            </th>                            
                            <th class="text-center th-action" style="width:10%"> Akcja</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                 <td class="widthName">
                                    @Html.DisplayFor(modelItem => item.Tytul)
                                </td>
                                 <td class="tdTekst">
                                    @Html.Raw(item.Tresc)
                                </td>                               
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-circle btn-sm" title="Edytuj"><i class="fas fa-pencil-alt"> </i> </a>
                                    @*<a asp-action="Szczegoly" asp-route-id="@item.Id" class="btn btn-info btn-circle btn-sm"><i class="fas fa-info-circle"></i> </a>*@
                                   <a data-dt="@item.Id" data-controller="StronaOnas" data-action="Delete" data-body-message="Czy jesteś pewien?" 
                                    class="btn btn-danger btn-circle btn-sm delete" title="Usuń"><i class="fas fa-trash"></i></a>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-sm-12 col-md-12 ">
                <div class="dataTables_paginate paging_simple_numbers block" id="dataTable_paginate">
                    <ul class="pagination float-lg-right py-3">
                        @{
                            double totalPages = ViewBag.TotalPages;
                            string classes = "paginate_button page-item";
                            for (var i = 1; i <= totalPages; i++)
                            {
                                @if (i == ViewBag.PageNumber)
                                {
                                    <li class="active @classes">
                                        @Html.ActionLink(i.ToString(), "Index", new { PageNumber = i }, new { @class = "page-link" })
                                    </li>
                                }
                                else
                                {
                                    <li class="@classes">
                                        @Html.ActionLink(i.ToString(), "Index", new { PageNumber = i }, new { @class = "page-link" })
                                    </li>
                                }
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="~/bootstrap/js/bootstrap.js"></script>

<script>
    $((function () {
        var url;
        var redirectUrl;
        var target;

        $('body').append(`
                    <div class="modal" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="myModalLabel">Uwaga!</h4>
                                </div>
                            <div class="modal-body delete-modal-body">
                                Czy jesteś pewien?
                            </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-bs-dismiss="modal" id="cancel-delete">Anuluj</button>
                                    <button type="button" class="btn btn-danger" id="confirm-delete">Usuń</button>
                                </div>
                            </div>
                        </div>
                    </div>`);

        //Delete Action
        $(".delete").on('click', (e) => {
            e.preventDefault();

            target = e.target;
            var Id = $(target).data('dt');
            var controller = $(target).data('controller');
            var action = $(target).data('action');
            var bodyMessage = $(target).data('body-message');
            redirectUrl = $(target).data('redirect-url');

            url = "/" + controller + "/" + action + "?Id=" + Id;
            $(".delete-modal-body").text(bodyMessage);
            $("#deleteModal").modal('show');
        });

        $("#confirm-delete").on('click', () => {
            $.get(url)
                .done((result) => {
                    if (!redirectUrl) {
                        return $(target).parent().parent().hide("slow");
                    }
                    window.location.href = redirectUrl;
                })
                .fail((error) => {
                    if (redirectUrl)
                        window.location.href = redirectUrl;
                }).always(() => {
                    $("#deleteModal").modal('hide');
                });
        });
    }()));
</script>